.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: block;
    text-align: center;
    height: 32px;
    width: 32px;
    margin-right: 8px;

    border: 1px solid #b4bdc4;
    border-radius: 48px;

    &:hover {
      border-color: #0f0f11;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #0f0f11;
    transition: transform 0.3s;

    &:hover {
      color: #000;
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &__item__chosen {
    background-color: #0f0f11;
  }

  &__link__chosen {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}
