@import '../normalize';

.aside-container {
  &--burger {
    @include onTablet {
      display: none;
    }
  }

  &__list {
    flex-wrap: nowrap;

    list-style: none;
    padding: 0;
    margin: 0;

    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__item {
    list-style: none;
    margin: 17px;

    @include onTablet {
      margin: 16px;
    }

    @include onDesktop {
      margin: 25px;
    }
  }
}
