.category {
  &__photo {
    display: block;
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: 0 auto 24px;
    border-radius: 8px;

    @include onTablet {
      max-width: 187px;
    }

    @include onDesktop {
      max-width: 368px;
    }
  }

  &__link {
    color: #0f0f11;

    &:visited {
      color: #0f0f11;
    }
  }

  &__description {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #89939a;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 4px;
  }
}
