.header {

  padding-left: 16px;
  box-shadow: 0px 1px 0px $elements;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $white;

  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 32px;
  }

  @include onDesktop {
    padding-left: 24px;
    margin-bottom: 65px;
  }

  &__aside-container {
    display: flex;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    @include onTablet {
      display: grid;
      grid-template-columns: 96px 1fr 48px 48px;
      align-items: center;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: 128px 1fr 64px 64px;
      align-items: center;
    }
  }
}

body {
  margin: 0;
}
