.icon {
  display: block;
  padding: 24px;

  background-position: center;
  background-repeat: no-repeat;

  box-shadow: -1px 0px 0px $elements;

  @include onTablet {
    padding: 24px;
  }

  @include onDesktop {
    padding: 32px;
  }

  &--favourites {
    display: none;

    @include onTablet {
      display: block;
      background-image: url('./Favourites.svg');
    }

    @include onDesktop {
      display: block;
      background-image: url('./Favourites.svg');
    }
  }

  &--cart {
    display: none;

    @include onTablet {
      display: block;
      background-image: url('./Cart.svg');
    }

    @include onDesktop {
      display: block;
      background-image: url('./Cart.svg');
    }
  }

  &--menu {
    background-image: url('./Menu.svg');

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: none;
    }
  }
}
