.logo {
  &__img {
    display: block;
    height: 21px;
    transition: transform .3s;

    @include onTablet {
      height: 21px;
    }

    @include onDesktop {
      height: 26px;
    }

    &--footer {
      height: 30px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
