.nav {
  display: none;

  @include onTablet {
    display: block;
  }

  @include onDesktop {
    display: block;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;

    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item:not(:first-of-type) {
    margin-left: 32px;

    @include onDesktop {
      margin-left: 64px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;

    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
    color: $secondary;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.3s;

    &--icon {
      box-shadow: -1px 0px 0px $elements;

      &:hover .aside-container__item-photo {
        transform: scale(1.2);
      }

      &:hover .aside-container__item-fav-counter {
        transform: scale(1.2);
      }
    }

    @include onDesktop {
      height: 64px;
    }

    &:hover {
      color: $primary;
    }

    &--active {
      position: relative;
      color: $primary;

      &:after {
      transition: background-color 0.3s;
        position: absolute;
        bottom: 0;

        height: 4px;
        width: 100%;
        content: '';
        border-radius: 3px;
        background-color: $primary;
        opacity: 1;
      }
    }

    &--activeIcon {
      box-shadow: 0 0 1px $primary;

      &:after {
        position: absolute;
        bottom: 0;

        height: 3px;
        width: 48px;
        content: '';
        border-radius: 3px;
        background-color: $primary;
        opacity: 1;

        @include onDesktop {
          width: 66px;
        }
      }
    }
  }
}
