.page {
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__section {
    margin-bottom: 57px;

    &--footer {
      margin-bottom: 0;
    }
  }

  &__section-title {
    margin: 0 0 24px;

    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: #0f0f11;

    @include onDesktop {
      font-size: 32px;
    }

    @include onTablet {
      font-size: 32px;
    }
  }
}
