.shop-by-category {
  margin-bottom: 57px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0 0 24px;

    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: #0f0f11;

    @include onDesktop {
      font-size: 32px;
    }

    @include onTablet {
      font-size: 32px;
    }
  }
}
