$selector-width: 32px;
$selector-circle-width: 24px;

.color-selector {
  width: $selector-width;
  height: $selector-width;

  border: 1px solid #e2e6e9;
  border-radius: 50%;

  position: relative;

  transition: border-color 0.3s;

  &__inside {
    content: '';
    position: absolute;
    width: $selector-circle-width;
    height: $selector-circle-width;

    border-radius: 50%;

    top: 50%;
    left: 50%;

    margin: calc($selector-circle-width / -2) 0px 0px
      calc($selector-circle-width / -2);

    transition: transform 0.3s;
  }

  &:hover {
    border-color: #b4bdc4;
  }

  &:hover &__inside {
    transform: scale(0.8, 0.8);
  }
}
