@import '../../styles/utils/mixins';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 220px;
  max-width: 288px;
  padding: 32px 32px;
  height: 440px;

  @include onTablet {
    height: 506px;
  }

  @include onDesktop {
    height: 506px;
  }

  border: 1px solid #e2e6e9;
  border-radius: 8px;

  &__icon {
    margin: 0 auto;
    margin-bottom: 24px;
    height: 130px;

    @include onTablet {
      height: 196px;
      max-width: 180px;
    }

    @include onDesktop {
      height: 196px;
      max-width: 210px;
    }
  }

  &__title {
    margin-bottom: 8px;
    min-height: 42px;

    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
  }

  &__link {
    color: #0f0f11;

    &:visited {
      color: #0f0f11;
    }
  }

  &__prices {
    display: flex;
    margin-bottom: 8px;
  }

  &__price {
    position: relative;
    margin-right: 8px;

    font-weight: 800;
    font-size: 22px;
    line-height: 30px;

    color: #0f0f11;

    &::before {
      content: "$";
    }
  }

  &__fullprice {
    font-weight: 600;
    font-size: 20px;
    text-decoration-line: line-through;
    color: #89939a;

    &::before {
      content: "$";
    }
  }

  &__breakLine {
    margin-bottom: 16px;
    width: 100%;

    border: 1px solid #e2e6e9;
  }

  &__name {
    display: flex;
  }

  &__features {
    display: flex;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__names {
    font-size: 15px;
    line-height: 17px;

    color: #89939a;
  }

  &__chars {
    text-align: end;

    font-size: 15px;
    line-height: 16px;
  }

  &__info {
    margin-bottom: 8px;
  }
}
