@import '../../styles/main.scss';

.phonesCategory {
  &__title {
    margin-bottom: 8px;

    font-weight: 800;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: $primary;
  }

  &__description {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $secondary;
  }
}

.filter {
  margin-bottom: 24px;

  &__sortBy {
    display: inline-block;
    margin-right: 16px;
    min-width: 100px;

    &__description {
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: $secondary;

      margin-bottom: 4px;
    }
  }
}

.dropdown {
  min-width: 128px;

  &__header {
    width: 100%;
    min-height: 40px;
    display: block;
    border: 1px solid #b4bdc4;
    border-radius: 8px;
    margin-bottom: 4px;
  }

  &__title {
    
    text-align: left;
    padding: 0 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #0F0F11;
  }

  &__items {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E2E6E9;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 8px 12px;
  }

  &__option {
    
    display: block;
    text-align: left;
    height: 32px;
  }
}

.catalog {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  gap: 40px 16px;

  &__item {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    max-width: 288px;

    @include onTablet {
      max-width: 288px;
    }

    @include onDesktop {
      max-width: 272px;
    }
  }

  margin-bottom: 24px;
}
