@import '../../styles/main.scss';

.phonesCategory {
  &__title {
    margin-bottom: 8px;

    font-weight: 800;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: $primary;

    @include onTablet {
      font-weight: 800;
      font-size: 48px;
    }

    @include onDesktop {
      font-weight: 800;
      font-size: 48px;
    }
  }

  &__description {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $secondary;
  }
}

.filter {
  margin-bottom: 24px;

  &__container {
    display: inline-block;
  }
}

.catalog {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 40px 16px;

  @include onTablet {
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  }

  @include onDesktop {
    grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
  }

  &__item {
    width: 100%;
    max-width: 288px;

    @include onTablet {
      max-width: 288px;
    }

    @include onDesktop {
      max-width: 272px;
    }
  }

  margin-bottom: 24px;
}
