@import "../../styles/main.scss";

.shopByCategory {
  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__section {
    margin-bottom: 57px;
  }

  &__title {
    margin: 0 0 24px;

    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
    color: #0F0F11;

    @include onDesktop {
      font-size: 32px;
    }

    @include onTablet {
      font-size: 32px;
    }
  }
}
