.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;

  text-align: center;
  height: 32px;
  width: 32px;

  border: 1px solid #b4bdc4;
  border-radius: 48px;

  background-image: url('../../assets/images/icons/arrow-left.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  
  &:hover {
    border-color: #0f0f11;
    color: #000;
    cursor: pointer;
    transform: scale(1.07);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  }
}
