@import '../../styles/utils/mixins';

.slick {
  &-image {
    width: 100%;

    border: 1px solid #c4c4c4;
    border-radius: 4px;

    padding: 5px;

    transition: border 0.3s, opacity 0.3s, transform 0.3s;
  }

  &-image:hover {
    border-color: #0f0f11;

    transform: scale(0.9);
  }

  &-dotted &-slider {
    margin-bottom: 30px;
  }

  &-dots {
    position: absolute;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
  }
  &-dots li {
    position: relative;

    display: inline-block;

    padding: 0;

    cursor: pointer;
  }
  &-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }

  &-dots li button:hover,
  &-dots li button:focus {
    outline: none;
  }

  &-dots li button:before {
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 0.25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &-dots &-active &-image {
    border-color: #0f0f11;
  }

  /* Slider */
  &-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  &-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
  }
  &-list:focus {
    outline: none;
  }
  &-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  &-slider &-track,
  &-slider &-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &-track:before,
  &-track:after {
    display: table;

    content: '';
  }
  &-track:after {
    clear: both;
  }
  &-loading &-track {
    visibility: hidden;
  }

  &-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
  }
  [dir='rtl'] &-slide {
    float: right;
  }
  &-slide img {
    display: block;
  }
  &-slide &-loading img {
    display: none;
  }
  &-slide.dragging img {
    pointer-events: none;
  }
  &-initialized &-slide {
    display: flex !important;

    justify-content: center;
  }
  &-loading &-slide {
    visibility: hidden;
  }
  &-vertical &-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
  }
  &-arrow &-hidden {
    display: none;
  }
}

.phone__specs .phone__specs-main .slick-slider {
  margin-bottom: 112px;

  @include onTablet {
    margin-bottom: 0;
  }
}

.phone__specs .phone__specs-main .slick-slider .slick-dots li {
  margin-right: 0;
  width: 50px;
  height: 50px;

  @include onDesktop {
    width: 78px;
    height: 78px;
  }
}

.phone__specs .phone__specs-main .slick-slider .slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 8px;

  bottom: -73px;

  @include onTablet {
    flex-direction: column;
    width: max-content;
    height: max-content;

    top: 0;
  }

  @include onDesktop {
    gap: 16px;
  }
}
