@import '../../styles/utils/_mixins.scss';
@import '../../styles/main.scss';
@import '../../styles/utils/mixins';

.page__section-scroll {
  overflow: hidden;
  margin-bottom: 57px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }
}

.scroll {
  display: flex;
  justify-content: space-between;

  &__title {
    display: block;
    text-align: left;
    margin-bottom: 24px;
    width: 136px;

    font-weight: 700;
    font-size: 22px;
    line-height: 30px;

    @include onTablet {
      width: fit-content;

      font-size: 32px;
      line-height: 41px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    width: 82px;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/defaultScroll.png');
    text-align: right;
    height: 32px;
    width: 32px;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/defaultScroll.png');
    text-align: left;
    height: 32px;
    width: 32px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 32px 32px;
  max-height: 500px;

  @include onTablet {
    width: 248px;
  }

  @include onDesktop {
    width: 270px;
    margin-right: 0;
  }

  border: 1px solid #e2e6e9;
  border-radius: 8px;

  &__icon {
    margin: 0 auto;
    margin-bottom: 24px;
    min-height: 129px;

    @include onTablet {
      height: 173px;
    }

    @include onDesktop {
      height: 200px;
    }
  }

  &__title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 15px;
    line-height: 21px;

    color: #0f0f11;
  }

  &__price {
    position: relative;
    margin-bottom: 8px;

    font-weight: 800;
    font-size: 22px;
    line-height: 30px;

    color: #0f0f11;

    &::before {
      content: '$';
    }
  }

  &__break-line {
    margin-bottom: 16px;
    width: 100%;

    border: 1px solid #e2e6e9;
  }

  &__name {
    display: flex;
  }

  &__features {
    display: flex;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: space-between;
  }

  &__names {
    font-size: 15px;
    line-height: 17px;

    color: #89939a;
  }

  &__chars {
    text-align: end;

    font-size: 15px;
    line-height: 16px;
  }

  &__info {
    margin-bottom: 8px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;

    border: 1px solid #4219d0;
    background-color: #4219d0;
    color: #ffffff;
    border-radius: 45px;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:active {
      background-color: #ffffff;
      color: #4219d0;
      box-shadow: none;
    }
  }
}

.flex {
  display: flex;
  gap: 16px;

  &__item {
    width: 220px;

    @include onTablet {
      width: 248px;
    }

    @include onDesktop {
      width: 290px;
    }
  }
}
