* {
  box-sizing: border-box;
}

@font-face {
  font-family: Mont_Regular;
  src: url('../assets/fonts/Mont-Regular.otf');
}

@font-face {
  font-family: Mont_Bold;
  font-weight: bold;
  src: url('../assets/fonts/Mont-Bold.otf');
}

@font-face {
  font-family: Mont_SemiBold;
  src: url('../assets/fonts/Mont-SemiBold.otf');
}

html {
  font-family: 'Mont_Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #0f0f11;
}
