$accent: #4219d0;
$secondaryAccent: #f4ba47;
$primary: #0f0f11;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$hoverAndBG: #fafbfc;
$white: #ffffff;
$green: #27ae60;
$red: #eb5757;

$bigIconSide: 15px;
