@import '../../styles/utils/mixins';

.cart__item {
  margin-bottom: 16px;
  border: 1px solid #e2e6e9;
  border-radius: 16px;
  padding: 16px;

  @include onTablet {
    display: flex;
    justify-content: space-between;

    padding: 24px;
  }

  @include onDesktop {
    width: 752px;
  }

  &-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    margin-bottom: 16px;
    padding: 7px 0;

    @include onTablet {
      margin: 0;
      //align-items: center;
    }

    &__close {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }

    &__photo {
      width: 66px;
      height: 66px;

      padding: 0 7px;
    }

    &__name {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;

      color: #0f0f11;
    }
  }

  &-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      gap: 53px;
    }

    &__count {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 13px;

      font-weight: 600;
      font-size: 14px;
      line-height: 21px;

      color: #000000;

      &-minus {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;

        border: 1px solid #e2e6e9;
        border-radius: 50%;
      }

      &-minus:disabled {
        border-color: #E2E6E9;
      }

      &-plus {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;

        border: 1px solid #b4bdc4;
        border-radius: 50%;
      }

      &-value {
        width: 10px;
      }
    }

    &__value {
      font-family: Mont_Bold, sans-serif;
      font-weight: 800;
      font-size: 22px;
      line-height: 140%;
      width: 70px;

      color: #0f0f11;
    }
  }
}
