@import '../../styles/utils/_mixins.scss';
@import '../../styles/main.scss';
@import '../../styles/blocks/grid-shop-by.scss';

.about {
  display: block;
  margin: auto;
  color: $primary;
  font-weight: 600;

  
  @include onTablet {
    max-width: 600px;
  }

  @include onDesktop {
    max-width: 1200px;
  }

  &__header {
    margin-bottom: 16px;

    font-size: 20px;
    line-height: 26px;

    @include onTablet {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__title {
    margin-bottom: 16px;

    font-size: 20px;
    line-height: 26px;

    @include onTablet {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__text {
    margin-bottom: 32px;

    font-weight: 500;
    font-style: 14px;
    line-height: 21px;
    color: $secondary;

    &-service {
      margin-bottom: 15px;
    }
  }

  &__brake-line {
    margin-bottom: 32px;
    width: 100%;

    border: 1px solid #E2E6E9;
  }


  &__spec {
    display: flex;
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;

    &-names {
      color: $secondary;
    }

    &-specs {
      text-align: right;
    }
  }

  &__info {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

}

.grid-shop-by {
  display: flex;

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 16px;
  }
}




