.addToCart {
  display: flex;
  justify-content: space-between;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;

    margin-right: 8px;

    border: 1px solid #4219d0;
    background-color: #4219d0;
    color: #ffffff;
    border-radius: 45px;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    }

    &:active {
      background-color: #ffffff;
      color: #4219d0;
      box-shadow: none;
    }
  }

  &__button__active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;

    margin-right: 8px;

    border: 1px solid #4219d0;
    border-radius: 45px;
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    transition: box-shadow .3s;

    background-color: #ffffff;
    color: #4219d0;
    box-shadow: none;

    &:hover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    }
  }

  &__like {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border: 1px solid #b4bdc4;
    border-radius: 48px;

    & img {
      transition: transform .3s;
    }

    &:hover img {
      border-color: #0f0f11;
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}
