.wrapper {
  margin: 0;
}

.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 40px;

  &__image {
    display: inline-block;
    margin-right: 15px;
  }
  &__arrow {
    display: inline-block;
    margin-right: 14px;
  }

  &__link {
    display: inline-block;

    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #89939a;

    &::after {
      content: url('https://fe-oct22-movva.github.io/product_catalog_client/assets/ArrowRight-5f1e52f6.svg');
      width: 15px;
      margin-left: 10px;
    }

    &:last-child::after {
      display: none;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
