.wrapper {
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 25px;
  padding-bottom: 40px;

  &__image {
    display: block;
    align-self: center;

    margin-right: 15px;
    height: 15px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__arrow {
    display: block;
    align-self: self-end;
    height: 15px;
    margin-right: 14px;
  }

  &__link {
    display: block;
    height: 15px;
    align-self: center;
    font-weight: 700;
    font-size: 13px;
    color: #89939a;

    &:hover {
      color: #0f0f11;
    }

    &::after {
      content: url('https://fe-oct22-movva.github.io/product_catalog_client/assets/ArrowRight-5f1e52f6.svg');
      display: inline-block;
      vertical-align: top;
      height: 15px;
      margin-right: 14px;
      margin-left: 10px;
    }

    &:last-child::after {
      display: none;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
